.banner{
    //background-color: $gray;
}
.logo{
    background-color: $primary; 
    display: block;
    width: 193px;
    height: 87px;
    border-radius: 0px 0px 35px 35px;
    padding-top: 23px;
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.banner__container{
    position: relative;
    
    overflow: visible;
    min-height: 800px; 
    &:after{
        content:'';
        width: 916.61px;
        height: 665px;
        background-image: url(../images/banner.svg);
        background-repeat: no-repeat;
        //background-position: 400px 100px;
        position: absolute;
        top:80px;
        left: 450px;
    }
    
}
.banner__description{
    margin-top: 88px;
    position: relative;
    z-index: 2;
    font-family: SF Pro Text;
    font-weight: 300;
}
.slogan{
    width: 374px;
    height: 32px;
    background: #DCEFFF;
    font-family: SF Pro Text;
    font-size: 18px;
    line-height: 24px;
    color: #1A1A1A;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.slider__show{
    min-height: 568px;
    background-image: url(../images/bg_slider.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #6FBE44;
    padding-top:90px;
    overflow: hidden;
    .card-item{
        display: inline-block;
        position: relative;
        outline: none;
        //padding: 0px;
        .card-title{
            font-family: HLT JaneAusten;
            font-size: 32px;
            color: #6FBE44;
            //text-transform: rotate(-1.91deg);
            width: auto;
            height: 40px;
            background: #FFFFFF;
            position: relative;
            display: table;
            padding: 5px;
            bottom: 100px;
            left: 20px;
        }
    }
}
.content{
    min-height:712px ;
    background-image: url(../images/bg_content.svg);
    background-repeat: no-repeat;
    background-position: center 150px;
    
    background-color: #FFFFFF;
    background-size: cover;
    padding-top: 120px;
}
.post-item{
    display: flex;
    min-height: 198px;
    background: #F1F8EC;
    border-radius: 40px;
    flex-direction: column;
    margin-bottom: 100px;
    .post-title{
        padding-left: 50px;
        position: relative;
        top: -35px;
        
    }
    .post-body{
        padding: 5px 200px 65px 100px;
        font-size: 18px;
        line-height: 24px;
        font-family: SF Pro Text;
        font-weight: 300;
    }
    .list-post{
        list-style: none;
        img{
            margin-right: 12px;
        }
        li{
            margin-bottom: 20px;
        }
    }
    .title__icon{
        position: absolute;
        top:-40px;
        right: 60px;
        font-family: iCielBC Cubano;
        font-size: 124px;
        line-height: 149px;
        color: #FF7058;
        text-shadow: 6px 4px #FFFFFF;
    }
}
.countdown{
    .countdown__header{
        min-height: 102px;
        background-color: #FFFFFF;
        .subtitle__gapo--blue{
            position: relative;
            top:70px;
            padding-left: 50px;
        }
    }
    .countdown__body{
        min-height: 522px;
        background-color: #DCEFFF;
        padding-top: 60px;
    }
    .timer {
        margin: auto;
        font-family: sans-serif;
        color: #fff;
        display: table;
        font-weight: 100;
        text-align: center;
        font-size: 30px;
        .next{
            font-size:48px;
            line-height: 58px;
            font-family: iCielBC Cubano;
            position: relative;
            top: -70px;
        }
        span{
            width: 132px;
            height: 132px;
            background: #FFFFFF;
            border: 5px solid #C7DFF4;
            box-sizing: border-box;
            display: block;
            border-radius: 50%;
            font-family: iCielBC Cubano;
            font-size: 64px;
            line-height: 122px;
            /* identical to box height */
            color: #FF7058;
        }
      }
      .timer div {
        padding: 10px;
        display: inline-block;

      }
      .timer .smalltext {
        font-size: 18px;
        line-height: 24px;
        color: #1A1A1A;
        font-weight: 300;
        display: block;
        padding: 10px;
        width: auto;
      }
      .timer #time-up {
        margin: 8px 0 0;
        text-align: left;
        font-size: 14px;
        font-style: normal;
        color: #000000;
        font-weight: 500;
        letter-spacing: 1px;
      }
      .frame{
          margin: auto;
          display: block;
          position: relative;
          z-index: 11;
      }
      .frame_left{
        margin: auto;
        display: block;
        position: absolute;
        z-index: 10;
        left: 10px;
        bottom: 50px;
    }
    .frame_right{
        margin: auto;
        display: block;
        position: absolute;
        z-index: 10;
        right: 10px;
        bottom: 20px;
    }
      .d-relative{
        position: relative;
      }
      
}
.footer{
    min-height: 263px;
    background-color: #6FBE44;
    text-align: center;
    color: #FFFFFF;
    padding-top: 60px;
    .logo_bottom{
       margin-bottom: 20px; 
    }
    .footer_title{
        font-family: SF Pro Text;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 10px; 
    }
}
// div#slider-class {
//     white-space: nowrap;
// }
// @-webkit-keyframes mover {
//     0% { transform: translateX(0); }
//     100% { transform: translateX(-3200px); }
// }
// @keyframes mover {
//     0% { transform: translateX(0); }
//     100% { transform: translateX(-3200px); }
// }
// div#slider-class{
//     -webkit-animation: mover 20s   ;
//     animation: mover 20s   ;
//     animation-timing-function: linear;
//     backface-visibility: hidden;
//     perspective: 0;
//     transform: translateZ(0);
// }
div#slider-class{
    backface-visibility: hidden;
    perspective: 0;
    transform: translateZ(0);
    will-change: transform;
}
div#slider-class .card-item{
    backface-visibility: hidden;
    perspective: 0;
    transform: translateZ(0);
    will-change: transform;
}
.slick-track{
    backface-visibility: hidden;
    perspective: 0;
    transform: translateZ(0);
    will-change: transform;
}