

// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) { 
    .slider__show .card-item .card-title {
        font-family: HLT JaneAusten;
        font-size: 22px;
        color: #6FBE44;
        width: auto;
        height: 40px;
        background: #FFFFFF;
        position: relative;
        display: table;
        padding: 5px;
        bottom: 100px;
        left: 20px;
        line-height: 40px;
    }
    .countdown .timer div {
        padding: 2px;
        display: inline-block;
    }
    .countdown .timer span {
        transform: scale(0.6);
    }
    .countdown {
        display: block;
        width: 100%;
    }
    .footer {
        display: table;
        width: 100%;
    }
    .countdown .countdown__body {
        min-height: unset;
        background-color: #DCEFFF;
        padding-top: 60px;
    }
 }

// Medium devices (tablets, less than 992px)
@media (max-width: 575.98px) { 
    .title__gapo {
        font-family: "iCielBC Cubano";
        font-size: 24px;
        line-height: 27px;
        color: #6FBE44;
    }
    .title__gapo--red{
        font-family: "iCielBC Cubano";
        font-size: 44px;
        line-height: 49px;
        color: #FF7058;
    }
    .block__title {
        width: auto;
        height: 42px;
        background: #FF7058;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #FFFFFF;
        font-size: 34px;
        line-height: 37px;
        margin-top: 5px;
        text-align: center;
        padding: 0px 10px;
    }
    .slogan {
        width: auto;
        height: 32px;
        background: #DCEFFF;
        font-family: SF Pro Text;
        font-size: 18px;
        line-height: 24px;
        color: #1A1A1A;
        display: table;
        padding: 5px;
    }
    .banner__container:after {
        content: '';
        width: 916.61px;
        height: 665px;
        background-image: url(../images/banner.svg);
        background-repeat: no-repeat;
        position: absolute;
        background-size: 500px;
        top: 100px;
        left: 0px;
        bottom:0px;
    }
    .banner__container {
        position: relative;
        overflow: visible;
        min-height: 600px;
        padding-bottom: 50px;
    }
    .subtitle__gapo {
        font-family: iCielBC Cubano;
        font-size: 28px;
        line-height: 28px;
        color: #6FBE44;
        margin-top: 10px;
    }
    .banner__description {
        margin-top: 400px;
        position: relative;
        z-index: 2;
        font-family: SF Pro Text;
        font-weight: 300;
    }
    .slider__show {
        min-height: 228px;
        background-image: url(../images/bg_slider.svg);
        background-repeat: no-repeat;
        background-position: top left;
        background-color: #6FBE44;
        padding-top: 30px;
    }
    .slider__show .card-item .card-title {
        font-family: HLT JaneAusten;
        font-size: 12px;
        color: #6FBE44;
        width: auto;
        height: 20px;
        background: #FFFFFF;
        position: absolute;
        display: table;
        padding: 2px;
        bottom: 10px;
        left: 20px;
        line-height: 20px;
    }
    .banner{
        display: table;
        width: 100%;
    }
    .post-item .post-body {
        padding: 5px 20px 25px 20px;
        font-size: 18px;
        line-height: 24px;
        font-family: SF Pro Text;
        font-weight: 300;
    }
    .hidden-xs{
        display: none;
    }
    .post-body ul{
        margin: 0;
        padding: 0;
    }
    .content {
        min-height: 712px;
        background-image: url(../images/bg_content.svg);
        background-repeat: no-repeat;
        background-position: center 150px;
        background-color: #FFFFFF;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        padding-top: 60px;
    }
    .countdown .countdown__header {
        min-height: 0px;
        background-color: #FFFFFF;
    }
    .countdown .countdown__header .subtitle__gapo--blue {
        position: relative;
        top: 20px;
        padding-left: 20px;
        font-size: 28px;
        line-height: 24px;
    }
    .countdown .timer span{
        transform: unset;
    }
    .countdown .timer .next{
        font-size: 37px;
        line-height: 27px;
        font-family: iCielBC Cubano;
        position: relative;
        top: -50px;
    }
    .countdown .timer span{
        width: 60px;
        height: 60px;
        font-size: 26px;
        line-height: 52px;
    }
 }
 @media (max-width: 320px) { 
    
    .countdown .countdown__header {
        min-height: 0px;
        background-color: #FFFFFF;
    }
    .countdown .countdown__header .subtitle__gapo--blue {
        position: relative;
        top: 20px;
        padding-left: 20px;
        font-size: 28px;
        line-height: 24px;
    }
    .countdown .timer span{
        transform: unset;
    }
    .countdown .timer .next{
        font-size: 37px;
        line-height: 27px;
        font-family: iCielBC Cubano;
        position: relative;
        top: -50px;
    }
    .countdown .timer span{
        width: 40px;
        height: 40px;
        font-size: 16px;
        line-height: 32px;
    }
 }