html{
	overflow-x:hidden;
}
a{
	text-decoration: none;
}
.title__gapo{
	font-family: "iCielBC Cubano";
	font-size: 64px;
	line-height: 77px;
	color: #6FBE44;
}
.subtitle__gapo{
	font-family: iCielBC Cubano;
	font-size: 48px;
	line-height: 58px;
	color: #6FBE44;
}
.subtitle__gapo--blue{
	font-family: iCielBC Cubano;
	font-size: 48px;
	line-height: 58px;
	color: #316EA2;
}
.title__gapo--red{
	font-family: "iCielBC Cubano";
	font-size: 124px;
	line-height: 149px;
	color: #FF7058;
	display: flex;
    flex-direction: row;
    align-items: center;
}
.block__title{
	width: 324px;
	height: 82px;
	background: #FF7058;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 64px;
	line-height: 77px;
	margin-top: 15px;
	text-align: center;
	
}