<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="./assets/images/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>Landing Gapo</title>
    <!-- build:css ./assets/styles/style.css -->

    <!-- bower:css -->
    <!-- endbower -->

    <link href="./assets/styles/bootstrap.css" rel="stylesheet">
    <link href="./assets/styles/slick.css" rel="stylesheet">
    <link href="/bower_components/wow/css/libs/animate.css" rel="stylesheet">
    <link href="./assets/styles/style.css" rel="stylesheet">

    <!-- endbuild -->

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&amp;subset=latin-ext,vietnamese"
        rel="stylesheet">

</head>

<body class="{{bodyClasses}}">
    <div id="wrapper">
        <div class="banner wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
            <div class="container banner__container">
                <div class="logo wow slideInDown" data-wow-duration="1s" data-wow-delay="0s"><img
                        src="./assets/images/logo.svg" alt=""></div>
                <div class="banner__description wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="title__gapo wow fadeIn" data-wow-duration="1s" data-wow-delay="1.5s">Chiến dịch</div>
                    <div class="title__gapo--red wow fadeIn" data-wow-duration="1s" data-wow-delay="1.7s">500 <span
                            class="text-uppercase block__title">face plus</span> </div>
                    <div class="subtitle__gapo wow fadeIn" data-wow-duration="1s" data-wow-delay="1.9s">ĐỒNG HÀNH CÙNG
                        GAPO</div>
                    <div class="slogan wow fadeIn" data-wow-duration="1s" data-wow-delay="2.1s">Believe yourself, be
                        strong with Gapo </div>
                    <div class="description wow fadeIn" data-wow-duration="1s" data-wow-delay="2.3s">Cơ hội để hiện kiến
                        thức, năng lực sáng tạo và sức hút
                        <br> bản thân của của những người trẻ tự tin, năng động,<br> không ngại thử thách.</div>
                </div>
            </div>
        </div>
        <div class="slider__show">
            <div class="container">
                <div class="your-class " id="slider-class">
                    <div class="card-item">
                        <img class="card-img-top" src="./assets/images/slidershow/vietanh.png" alt="Card image cap">
                        <div class="card-content">
                            <h5 class="card-title">Viêt Anh</h5>
                        </div>
                    </div>
                    <div class="card-item">
                        <img class="card-img-top" src="./assets/images/slidershow/thuhang.png" alt="Card image cap">
                        <div class="card-content">
                            <h5 class="card-title">Thu Hằng</h5>
                        </div>
                    </div>
                    <div class="card-item">
                        <img class="card-img-top" src="./assets/images/slidershow/nhatquang.png" alt="Card image cap">
                        <div class="card-content">
                            <h5 class="card-title">Nhật Quang</h5>
                        </div>
                    </div>
                    <div class="card-item">
                        <img class="card-img-top" src="./assets/images/slidershow/giangtien.png" alt="Card image cap">
                        <div class="card-content">
                            <h5 class="card-title">Giang Tiền</h5>
                        </div>
                    </div>

                    <div class="card-item">
                        <img class="card-img-top" src="./assets/images/slidershow/tuanh.png" alt="Card image cap">
                        <div class="card-content">
                            <h5 class="card-title">Tú Anh</h5>
                        </div>
                    </div>
                    <div class="card-item">
                        <img class="card-img-top" src="./assets/images/slidershow/nguyenkhoi.png" alt="Card image cap">
                        <div class="card-content">
                            <h5 class="card-title">Nguyễn Khôi</h5>
                        </div>
                    </div>
                    <div class="card-item">
                        <img class="card-img-top" src="./assets/images/slidershow/ngocmai.png" alt="Card image cap">
                        <div class="card-content">
                            <h5 class="card-title">Ngọc Mai</h5>
                        </div>
                    </div>
                    <div class="card-item">
                        <img class="card-img-top" src="./assets/images/slidershow/kientran.png" alt="Card image cap">
                        <div class="card-content">
                            <h5 class="card-title">Kiên Trần</h5>
                        </div>
                    </div>
                    <div class="card-item">
                        <img class="card-img-top" src="./assets/images/slidershow/quynhchi.png" alt="Card image cap">
                        <div class="card-content">
                            <h5 class="card-title">Quỳnh Chi</h5>
                        </div>
                    </div>
                    <div class="card-item">
                        <img class="card-img-top" src="./assets/images/slidershow/thuphuong.png" alt="Card image cap">
                        <div class="card-content">
                            <h5 class="card-title">Thu Phương</h5>
                        </div>
                    </div>
                    <div class="card-item">
                        <img class="card-img-top" src="./assets/images/slidershow/camvan.png" alt="Card image cap">
                        <div class="card-content">
                            <h5 class="card-title">Cẩm Vân</h5>
                        </div>
                    </div>
                    <div class="card-item">
                        <img class="card-img-top" src="./assets/images/slidershow/linhle.png" alt="Card image cap">
                        <div class="card-content">
                            <h5 class="card-title">Linh Lê</h5>
                        </div>
                    </div>
                    <div class="card-item">
                        <img class="card-img-top" src="./assets/images/slidershow/phuongnga.png" alt="Card image cap">
                        <div class="card-content">
                            <h5 class="card-title">Phương Nga</h5>
                        </div>
                    </div>
                    <div class="card-item">
                        <img class="card-img-top" src="./assets/images/slidershow/haanh.png" alt="Card image cap">
                        <div class="card-content">
                            <h5 class="card-title">Hà Anh</h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="post">
                    <div class="post-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="post-title subtitle__gapo">
                            Thử thách 21 ngày
                            <div class="title__icon hidden-xs"><img src="./assets/images/target.svg"></div>
                        </div>
                        <div class="post-body">
                            Face Plus có nhiệm vụ đăng tải 3 post/ ngày trên trang Gapo cá nhân với hashtag phù hợp và
                            mời 3 bạn, người thân/ ngày đăng ký tài khoản Gapo; liên tục trong 21 ngày (bắt đầu từ
                            16/9/2019)
                        </div>
                    </div>
                    <div class="post-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="post-title subtitle__gapo">
                            Phần thưởng
                            <div class="title__icon hidden-xs">50$</div>
                        </div>
                        <div class="post-body">
                            <ul class="list-post">
                                <li><img src="./assets/images/list.svg">Face Plush nhận tối thiểu 50$ nếu chinh phục
                                    thành công được thử thách</li>
                                <li><img src="./assets/images/list.svg">Cơ hội trở thành Đại sứ truyền thông chính thức
                                    của Gapo (xuất hiện hình ảnh trong các chiến dịch, sự kiện quảng bá; trên các ấn
                                    phẩm truyền thông của Gapo; được hỗ trợ đẩy mạnh hình ảnh thương hiệu cá nhân trên
                                    Gapo; dễ dàng kết nối và truyền cảm hứng tới hàng triệu người có chung sở thích;)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="countdown">
            <div class="countdown__header "">
                          <div class=" container">
                <div class="subtitle__gapo--blue text-uppercase wow fadeIn" data-wow-duration="1s"
                    data-wow-delay="0.5s">thời gian còn lại</div>
            </div>
        </div>
        <div class="countdown__body wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="container d-relative">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="timer">
                            <div>
                                <span class="days" id="day"></span>
                                <div class="smalltext">Ngày</div>
                            </div>
                            <div class="next">
                                <p>:</p>
                            </div>
                            <div>
                                <span class="hours" id="hour"></span>
                                <div class="smalltext">Giờ</div>
                            </div>
                            <div class="next">
                                <p>:</p>
                            </div>
                            <div>
                                <span class="minutes" id="minute"></span>
                                <div class="smalltext">Phút</div>
                            </div>
                            <div class="next">
                                <p>:</p>
                            </div>
                            <div>
                                <span class="seconds" id="second"></span>
                                <div class="smalltext">Giây</div>
                            </div>
                            <p id="time-up"></p>
                        </div>
                        <img class="frame_left" src="./assets/images/bg_bot_left.svg">
                        <img class="frame_right" src="./assets/images/bg_bot_right.svg">
                        <img class="frame" src="./assets/images/Frame.svg">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="container">
            <div class="logo_bottom">
                <img src="./assets/images/logo.svg" alt="">
            </div>
            <div class="footer_title">GAPO - MẠNG XÃ HỘI MỚI DÀNH CHO NGƯỜI TRẺ </div>
            <div class="footer_body">
                <p>Được phát triển bởi Công ty Cổ phần Công nghệ Gapo (Gapo Technology JSC .,)
                    <br> Office: 275 Nguyễn Trãi, Q.Thanh Xuân, Hà Nội</p>
            </div>
        </div>
    </div>
    </div>

    <!-- {% block content %} {% endblock %} -->
    <!-- build:js ./assets/scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/popper.js/dist/umd/popper.js"></script>
    <script src="/bower_components/bootstrap/js/dist/util.js"></script>
    <script src="/bower_components/bootstrap/js/dist/dropdown.js"></script>
    <script src="/bower_components/bootstrap/js/dist/modal.js"></script>
    <script src="/bower_components/bootstrap/js/dist/tooltip.js"></script>
    <script src="/bower_components/bootstrap/js/dist/collapse.js"></script>
    <script src="/bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="/bower_components/wow/dist/wow.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js ./assets/scripts/main.js -->
    <script src="./assets/scripts/main.js"></script>
    <!-- endbuild -->

</body>

</html>